target
mnw.cmd
mnw
mvnw
mvnw.cmd
.mvn
.idea

.DS_Store
src/.DS_Store

hs_err_pid*

*.iml
*/target/*
*/*jpr
*/*iml
.idea
**.idea
.classpath
.project
.settings
**/.classpath
**/.project
**/.settings
**/*.iml
/*/target/
/*/*.iml
/target/
**/.externalToolBuilders
**/maven-eclipse.xml
.externalToolBuilders
maven-eclipse.xml
***.log
**/*/target
*/data
data/*
target/
!.mvn/wrapper/maven-wrapper.jar

